body{
    /* padding: 20px; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  background-image: url(./assets/icons/fi_calendar.svg);
  cursor: pointer;
}

*{
  font-family: 'Poppins';
}
